.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
	
}

.imtext{
	position:absolute;
	top:130px;
	left:320px;
	z-index:1;
	color:white;
	font-size:50px;
	width:800px;
	font-weight:bold;
}

.container{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.image{
	position: relative;
}

.margin{
    #margin-top:10px;
}



a:hover{
    color: #ffffff;
    text-decoration:none;
}

