nav {
    width: 150px;
    position: absolute;
    top: 0%;
    left: 0%;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    line-height: 34px;
}
a {
    display: block; /* 중요 */
    text-decoration: none;
    color: #616161;
    text-align: center;
}
.snd_menu {
    background: #efefef;
}
.trd_menu {
    background: #ddd;
}
.sub_menu {
    display: none;
} /* 서브메뉴들 숨김 */

.selec {
    background: #28a745;
    color: #efefef;
}

#login {
    width: 150px;
    position: absolute;
    top: 0%;
    right: 0%;
    list-style: none;
    line-height: 34px;
}

#join {
    width: 150px;
    position: absolute;
    top: 0%;
    right: 8%;
    list-style: none;
    line-height: 34px;
}
#rank {
    width: 150px;
    position: absolute;
    top: 0%;
    right: 18%;
    list-style: none;
    line-height: 34px;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
	
}

.imtext{
	position:absolute;
	top:130px;
	left:320px;
	z-index:1;
	color:white;
	font-size:50px;
	width:800px;
	font-weight:bold;
}

.container{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.image{
	position: relative;
}

.margin{
    #margin-top:10px;
}



a:hover{
    color: #ffffff;
    text-decoration:none;
}

